* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.7em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}
a,
a:hover {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
/***********************************************
            *** CSS code starts ***
************************************************/

/* header section starts */
.header {
  width: 100%;
  background: url(../images/banner.png) center top no-repeat;
  background-size: cover;
}
/* header menu section starts */
.header .header-menu {
  width: 100%;
  margin: 22px 0px;
}
.header .header-menu .bg-light {
  background: transparent !important;
}
.header .header-menu .navbar-light .navbar-nav .nav-link.active,
.header .header-menu .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  background: url(../images/uline.png) center bottom no-repeat;
  background-size: auto;
}
.header .header-menu .navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
}
.header .header-menu .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  background: url(../images/uline.png) center bottom no-repeat;
  background-size: auto;
}
.header .header-menu .fa-bars {
  color: #fff;
  font-size: 28px;
}
.header .header-menu .fa-bars:hover {
  color: #008ed6;
}
.header .header-menu .navbar-light .navbar-toggler {
  color: #008ed6;
  border-color: #fff;
}
.header .header-menu .navbar-light .navbar-toggler:hover {
  border-color: #008ed6;
}
.header .header-menu .navbar-light .navbar-toggler:focus {
  box-shadow: 0 0 0 0.15rem;
  border-color: #008ed6;
}
/* header menu section ends */
/* header banner section starts */
.header .header-bannner {
  width: 100%;
}
.header .header-bannner .inner-banner {
  width: 100%;
}
.header .header-bannner .inner-banner h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7em;
  letter-spacing: 1px;
  color: #0186ca;
  margin: 48px 0px 0px;
}
.header .header-bannner .inner-banner h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 1px;
  color: #fff;
  margin: 20px 0px 0px;
  padding: 0px 80px 0px 0px;
  text-transform: capitalize;
}
.header .header-bannner .inner-banner p {
  font-size: 16px;
  line-height: 26px;
  color: #999999;
  margin: 30px 0px 0px;
  padding: 0px 310px 0px 0px;
}
.header .header-bannner .inner-banner-btn {
  width: 100%;
  margin: 60px 0px;
}
.header .header-bannner .inner-banner .btn {
  background: transparent;
  border-color: #454449;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  width: 160px;
  height: 56px;
  text-align: center;
}
.header .header-bannner .inner-banner .btn-primary {
  margin-right: 18px;
}

.header .header-bannner .inner-banner .btn:hover {
  background: #008ed6;
  border: none;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}
.header .header-bannner .inner-banner-poster {
  width: 100%;
  margin-top: 50px;
}
.header .header-bannner .inner-banner-poster img {
  width: 100%;
}
/* header banner section ends */

/* global title css */
.title h5 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #0186ca;
}
.title h1 {
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000;
  text-transform: capitalize;
}
/* header section ends */

/* Feature section starts */
.feature {
  width: 100%;
}
.feature .title {
  width: 100%;
  text-align: center;
  margin: 60px 0px;
}
.feature .inner-feature {
  width: 100%;
  text-align: center;
  margin-top: 12px;
}
.feature .inner-feature .icon {
  width: 90px;
  height: 90px;
  line-height: 85px;
  border: 2px solid #e0e0e0;
  border-radius: 100%;
  text-align: center;
  margin: 0px auto;
}
.feature .inner-feature h1 {
  font-size: 24px;
  text-transform: capitalize;
  margin-top: 30px;
}
.feature .inner-feature p {
  font-size: 16px;
  line-height: 26px;
  padding: 0px 48px;
  color: #a1a1a1;
}
/* Feature section ends */
/* Detail section starts */
.upper-detail {
  width: 100%;
  border-top: 1px solid #ededed;
  margin-top: 44px;
}
.upper-detail .detail-banner {
  width: 100%;
  margin-top: 64px;
}
.upper-detail .detail-banner .detail-poster {
  width: 100%;
}
.upper-detail .detail-banner .detail-poster img {
  width: 100%;
}
.upper-detail .detail-banner .detail-inner {
  width: 100%;
  margin-top: 100px;
  margin-left: 70px;
}
.upper-detail .detail-banner .detail-inner h5 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #0186ca;
}
.upper-detail .detail-banner .detail-inner h1 {
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000;
  text-transform: capitalize;
  margin-top: 16px;
}
.upper-detail .detail-banner .detail-inner .underline {
  margin-top: 18px;
}
.upper-detail .detail-banner .detail-inner p {
  font-size: 16px;
  line-height: 26px;
  color: #999999;
  margin-top: 20px;
  padding-right: 205px;
}
.upper-detail .detail-banner .detail-inner ul {
  display: inline-block;
  padding-left: 0px;
  margin-top: 20px;
}
.upper-detail .detail-banner .detail-inner li {
  display: -webkit-box;
  margin: 12px 0px 0px;
}
.upper-detail .detail-banner .detail-inner li img {
  width: 16px;
  height: 16px;
}
.upper-detail .detail-banner .detail-inner li h6 {
  text-transform: capitalize;
  margin-left: 12px;
}

.lower-detail {
  width: 100%;
  background: #f2f2f2;
}
.lower-detail .detail-banner {
  width: 100%;
  margin-top: 45px;
}
.lower-detail .detail-banner .detail-poster {
  width: 100%;
}
.lower-detail .detail-banner .detail-poster img {
  width: 100%;
}
.lower-detail .detail-banner .detail-inner {
  width: 100%;
  margin-top: 60px;
}
.lower-detail .detail-banner .detail-inner h5 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #0186ca;
}
.lower-detail .detail-banner .detail-inner h1 {
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000;
  text-transform: capitalize;
  margin-top: 16px;
}
.lower-detail .detail-banner .detail-inner .underline {
  margin-top: 18px;
}
.lower-detail .detail-banner .detail-inner p {
  font-size: 16px;
  line-height: 26px;
  color: #999999;
  margin-top: 20px;
  padding-right: 205px;
}
/* Detail section ends */

/* Testimonial section starts */
.testimonial {
  width: 100%;
  background: url(../images/testimonialbg.png) center top no-repeat;
  background-size: cover;
}
.testimonial .title {
  width: 100%;
  text-align: center;
  margin-top: 54px;
}
.testimonial .title h1 {
  color: #fff;
}
.testimonial .owl-carousel {
  width: 100%;
  margin: 65px 0px 50px;
}
.testimonial .owl-carousel h5 {
  color: #fff;
  text-transform: none;
  font-style: italic;
  font-weight: 300;
  margin-right: 65px;
}
.testimonial .owl-carousel p {
  color: #fff;
  margin: 5px 0px 0px 15px;
}
.testimonial .owl-carousel h6 {
  color: #fff;
  font-weight: 600;
  margin: 0px 0px 0px 15px;
}
.testimonial .owl-carousel .d-flex {
  margin-top: 25px;
}
.testimonial .owl-carousel .owl-stage {
  margin-bottom: 130px;
}
.testimonial .owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  background: transparent;
  border: 1px solid #a1a1a1;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff !important;
  width: 14px;
  height: 14px;
  border: none;
  margin: 3px 7px;
}
/* Testimonial section ends */

/* Eye-catcher section starts */
.eye-catcher {
  width: 100%;
  background: #15141a;
  padding: 44px 0px;
}
.eye-catcher .eye-catcher-inner {
  width: 100%;
}
.eye-catcher .eye-catcher-inner h1 {
  font-size: 34px;
  color: #fff;
  font-weight: 600;
  text-transform: none;
  margin-top: 6px;
}
.eye-catcher .eye-catcher-inner h1 span {
  font-weight: 300;
}
.eye-catcher .eye-catcher-btn {
  width: 100%;
  padding-left: 55px;
}
.eye-catcher .eye-catcher-btn .btn {
  background: transparent;
  border-color: #454449;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  width: 160px;
  height: 56px;
  text-align: center;
  transition: .5s;
}
.eye-catcher .eye-catcher-btn .btn-primary {
  margin-right: 18px;
}

.eye-catcher .eye-catcher-btn .btn:hover {
  background: #008ed6;
  border: none;
}
/* Eye-catcher section ends */

/* Pricing section starts */
.pricing {
  width: 100%;
}
.pricing .title {
  width: 100%;
  text-align: center;
  margin: 60px 0px;
}
.pricing .price-inner {
  width: 100%;
  text-align: center;
  border: 1px solid #e0e0e0;
}
.pricing .price-inner .price-header{
  width: 100%;
}
.pricing .price-inner .price-header .price-title{
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  transition: .5s;
}
.pricing .price-inner:hover .price-header .price-title{
  color: #008ed6;
}
.pricing .price-inner .price-header .price-title h1{
  font-size: 28px;
  font-weight: 700;
  padding: 15px 0px;
}
.pricing .price-inner .price-header .main-price{
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  transition: .5s;
}
.pricing .price-inner:hover .price-header .main-price{
  background: #008ed6;
}
.pricing .price-inner:hover .price-header .main-price sup, .pricing .price-inner:hover .price-header .main-price h1, .pricing .price-inner:hover .price-header .main-price p{
  color: #fff;
}
.pricing .price-inner .price-header .main-price h1{
  font-size: 56px;
  font-weight: 600;
  padding: 24px 0px 0px;
  margin: 0px;
}
.pricing .price-inner .price-header .main-price sup{
  font-size: 30px;
  font-weight: 600;
}
.pricing .price-inner .price-header .main-price p{
  font-size: 16px;
  color: #999999;
  padding: 0px 0px 28px;
  margin: 0px;
}
}
.pricing .price-inner .price-body{
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.pricing .price-inner .price-body p{
  font-size: 18px;
  line-height: 28px;
  padding: 38px 32px;
  color: #999999;
}
.pricing .price-inner .price-body p a{
  color: #008ed6;
}
.pricing .price-inner .price-body .btn{
  background: transparent;
  border-color: #e0e0e0;
  color: #008ed6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  width: 160px;
  height: 56px;
  text-align: center;
  margin: 0px 0px 28px;
  transition: .5s;
}
.pricing .price-inner:hover .price-body .btn, .pricing .price-inner .price-body .btn:focus{
  background: #008ed6;
  color: #fff;
}
/* Pricing section ends */

/* Contact section starts */
.contact{
  width: 100%;
  background: #ededed;
  margin: 50px 0px 0px;
}
.contact .title{
  width: 100%;
  text-align: center;
  margin: 60px 0px;
}
.contact .contact-inner{
  width: 100%;
  text-align: center;
}
.contact .contact-inner img{
  width: auto;
}
.contact .contact-inner p{
  font-size: 18px;
  line-height: 28px;
  color: #999999;
  padding: 20px 0px;
}
.contact .main-form{
  width: 100%;
  background: #15141a;
  margin: 40px 0px -80px;
  padding: 56px 80px 40px;

  position: relative;
  z-index: 1;
}
.contact .main-form .form-group{
  width: 100%;
}
.contact .main-form .form-group .form-control{
  padding: 15px;
  background-color: transparent;
  border: 1px solid #444348;
  color: #999999;
}
.contact .main-form .form-group .form-control:focus{
  box-shadow: 0 0 0 0.25rem #444348;
}
.contact .main-form .form-group .btn-primary{
  background: transparent;
  border-color: #454449;
  color: #999999;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  width: 160px;
  height: 56px;
  text-align: center;
  transition: .5s;
  margin: 20px 0px 0px 175px;
}
.contact .main-form .form-group .btn:hover{
  background: #008ed6;
  color: #fff;
  border: none;
}
/* Contact section ends */

/* Map section starts */
.map{
  width: 100%;
}
/* Map section ends */

/* Footer section starts */
.footer{
  width: 100%;
  text-align: center;
  background: #15141a;
  padding: 30px 0px;
}
.footer .social-icon{
  width: 100%;
  margin-top: 8px;
}
.footer .social-icon ul{
  display: block;
}
.footer .social-icon li{
  display: inline-block;
}
.footer .social-icon li i{
  color: #444348;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  padding: 12px 12px 0px;
  transition: .5s;
}
.footer .social-icon li i:hover, .footer .social-icon li i:focus{
  color: #008ed6;
}
.footer .copyright h6{
  font-size: 14px;
  color: #444348;
  font-weight: 600;
}
/* Footer section ends */